<div class="mindblown">
  <div class="mindblown tabs" data-group="primary-tabs">
    <a class="mindblown item" data-tab="mindblown" data-group="primary-tabs">
      <i class="mindblown fas fa-mask-ventilator"></i> Mindblown
    </a>
  </div>

<hr style="margin: 10px 0; border-top: 1px solid var(--color-border-light-primary); border-bottom: 1px solid var(--color-border-light-primary);">

  <section class="mindblown content">
    <div class="mindblown tab" data-tab="mindblown" data-group="primary-tabs">
      {{> header}}
      {{> mindblown}}
    </div>
  </section>
</div>
