#interface #players.app,
#interface #hotbar-directory-controls,
#interface #hotbar-lock,
#interface #hotbar-page-controls,
#action-bar #macro-list,
#action-bar #macro-list li {
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

#smalltime-app,
#smalltime-app .arrow,
#smalltime-app #displayContainer,
#smalltime-app #slideContainer,
#smalltime-app.show-date #dateDisplay,
#smalltime-app #dragHandle {
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

.remove-foundry-details {
	box-shadow: none !important;
	background: transparent !important;
	border: none !important;
}

#mindblow-floating-button {
	position: fixed;
	bottom: 0px;
}

#mbQuickInsert {
	border-width: 0px;
	margin: 0px;
	margin-top: -5px;
	min-width: auto !important;
	white-space: nowrap;
}

#mbQuickInsert h3 {
	align-items: center;
	border-bottom: 0px;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 0px;
	padding: 0px 0.5rem;
}

#mindblown {
	position: fixed;
	bottom: 0px;
	top: auto;
	left: 0;
	width: 100%;
	height: auto;
	box-shadow: none;
	margin: 0;
	background: transparent;
	z-index: 30;
}
#mindblown .mindblown-ui {
	/* background: #b7b7b71b !important;
	backdrop-filter: blur(5px); */
}

#mindblown .mindblown-ui {
	color: #ffffff;
}

canvas#mbCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: transparent;
	transition: opacity 0.5s ease-in-out;
}

canvas#mbCanvas.hidden {
	display: none;
}

.mindblown-ui .column-wrapper.mindblown-accordion-column {
	margin: 0 100px;
}
.mindblown-ui #bgsWrapper.mindblown-accordion-wrapper {
	background: #b7b7b71b;
	/* backdrop-filter: blur(5px); */
}

.mindblown-ui .columnWrapper {
	display: flex;
	justify-content: space-around;
}

.mindblown-ui #bgsWrapper #filterFavourites {
	cursor: pointer;
	margin-left: 2px;
}

.mindblown-ui #bgsWrapper #filterFavourites:hover {
	background-color: #c9a84c;
}

.mindblown-ui #bgsWrapper .setIsFavourite.active i.fa-solid.fa-solid,
.mindblown-ui #bgsWrapper .setIsFavourite i.fa-regular.fa-star,
.mindblown-ui #bgsWrapper #filterFavourites.active i.fa-solid.fa-solid,
.mindblown-ui #bgsWrapper #filterFavourites i.fa-regular.fa-star {
	display: flex;
}

.mindblown-ui #bgsWrapper .setIsFavourite i.fa-solid.fa-star,
.mindblown-ui #bgsWrapper .setIsFavourite.active i.fa-regular.fa-star,
.mindblown-ui #bgsWrapper #filterFavourites i.fa-solid.fa-star,
.mindblown-ui #bgsWrapper #filterFavourites.active i.fa-regular.fa-star {
	display: none;
}

.mindblown-ui #bgsWrapper .setIsFavourite {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.mindblown-ui #npcsWrapper.mindblown-accordion-wrapper,
.mindblown-ui #focusWrapper.mindblown-accordion-wrapper,
.mindblown-ui #vfxWrapper.mindblown-accordion-wrapper,
.mindblown-ui #lightWrapper.mindblown-accordion-wrapper {
	background: #b7b7b71b;
	width: 210px;
	position: absolute;
	bottom: 149px;
}

.mindblown-ui #npcsWrapper.mindblown-accordion-wrapper.reduced,
.mindblown-ui #npcsWrapper.mindblown-accordion-wrapper.reduced,
.mindblown-ui #vfxWrapper.mindblown-accordion-wrapper.reduced,
.mindblown-ui #lightWrapper.mindblown-accordion-wrapper.reduced {
	bottom: 29px;
}

.mindblown-ui #focusWrapper.mindblown-accordion-wrapper {
	/* display: none; */
	right: 100px;
}
.mindblown-ui #vfxWrapper.mindblown-accordion-wrapper {
	/* display: none; */
	right: 320px;
}

.mindblown-ui #npcsWrapper.mindblown-accordion-wrapper {
	/* display: none; */
	left: 100px;
}
.mindblown-ui #lightWrapper.mindblown-accordion-wrapper {
	/* display: none; */
	left: 320px;
}

.mindblown-ui .horizontal-accordion-one {
	width: 100%;
	display: flex;
	position: relative;
	margin: 0 auto;
	height: 75px;
	overflow: hidden;
	flex-direction: column;
}

.mindblown-ui .horizontal-accordion-one.mindblown-bgs {
	height: 150px;
	overflow: visible;
}

.mindblown-ui .horizontal-accordion-one.mindblown-bgs.reduced {
	height: 30px;
}

.mindblown-ui .horizontal-accordion-one .mindblown-list-header {
	display: flex;
	justify-content: space-between;
	background: rgba(19, 19, 19, 0.8);
	min-height: 30px;
	align-items: center;
}

.mindblown-ui .weatherToolbar {
	display: flex;
	gap: 8px;
	align-items: center;
	position: absolute;
	z-index: 1;
}

.mindblown-ui .weatherToolbar.reduced {
	bottom: 10px;
}
.mindblown-ui .weatherToolbar .weather-button.hidden {
	display: none;
}

.mindblown-ui .weatherToolbar .weather-button {
	width: 55px;
	height: 55px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #ddd;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s, box-shadow 0.2s;
	position: relative;
}

.mindblown-ui .weatherToolbar .weather-button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.mindblown-ui .weatherToolbar .weather-button.rain {
	background-color: #007bff;
}

.mindblown-ui .weatherToolbar .weather-button.fog {
	background-color: #6c757d;
}

.mindblown-ui .weatherToolbar .weather-button.snow {
	background-color: #17a2b8;
}

.mindblown-ui .weatherToolbar .weather-button.sandstorm {
	background-color: #c9a84c;
}

.mindblown-ui .weatherToolbar .weather-button.thunder {
	background-color: #4d07ff;
}
.mindblown-ui .weatherToolbar .weather-button.vfx {
	background-color: #1e1d1d;
}
.mindblown-ui .weatherToolbar .weather-button.lights {
	background-color: #ffc107;
}

.mindblown-ui .weatherToolbar .weather-button.active {
	transform: scale(1.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	background-color: #9c2541;
}

.mindblown-ui .horizontal-accordion-one .mindblown-list-header span {
	padding: 5px 10px;
}
.mindblown-ui
	.horizontal-accordion-one
	.mindblown-list-header
	span.resetBg.hidden,
.mindblown-ui
	.horizontal-accordion-one
	.mindblown-list-header
	span.endStream.hidden {
	display: none;
}

.mindblown-ui .horizontal-accordion-one .mindblown-list-header span.toolbar {
	cursor: pointer;
}

.mindblown-ui .horizontal-accordion-one .accordion-container {
	width: max-content;
	position: relative;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: visible;
	/* overflow-x: hidden; */
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item
	.accordion-data
	.accordion-data-item:last-child {
	margin-right: 10px;
}
.mindblown-ui .horizontal-accordion-one .accordion-container .accordion-item {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	width: 100px;
	transition: all ease-in 1s;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active {
	width: auto;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item
	.accordion-head {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100px;
	min-width: 100px;
	align-items: center;
	/* background-blend-mode: luminosity; */
	cursor: pointer;
	background: black;
	position: relative;
	border-left: 4px solid #000000;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-head {
	background-blend-mode: normal;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-head
	.mindblown-list-title {
		    background: #124d0c9c;
	}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item
	.accordion-head
	.mindblown-list-title {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	/* backdrop-filter: blur(2px); */
	background: rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 4px #000000;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item
	.accordion-head
	span {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	/* transform: rotate(-90deg); */
	display: flex;
	width: fit-content;
	/* text-wrap: nowrap; */
	text-align: center;
	transition: all ease-in 0.4s;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item
	.accordion-data {
	position: relative;
	width: max-content;
	overflow-x: visible;
	flex-wrap: nowrap;
	display: flex;
}

.accordion-data-scrollable {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 0;
	top: 0;
	will-change: transform;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data {
	position: relative;
	overflow-x: visible;
	width: 100%;
	background-color: transparent;
	height: 80%;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.accordion-data-item {
	/* background-blend-mode: luminosity; */
	min-width: 100px;
	min-height: 100px;
	transition: all ease-in 0.4s;
	margin-left: 10px;
	border-radius: 8px;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.accordion-data-item:hover {
	background-blend-mode: normal;
	cursor: pointer;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.deactivate
	.accordion-data {
	/* animation: close 0.4s; */
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-head {
	width: 150px;
	min-width: 150px;
}

.media-tooltip {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	border: 1px solid #444;
	background: #000;
	padding: 4px;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	width: 500px;
	height: 300px;
	overflow: hidden;
	display: none;
	top: -300px;
	justify-content: center;
	align-items: center;
}

.media-tooltip.active {
	display: flex;
}

.media-tooltip img,
.media-tooltip video {
	display: flex;
	width: 100%;
	height: auto;
	max-height: 300px;
}

@keyframes open {
	0% {
		width: 0px;
		opacity: 0;
	}

	75% {
		opacity: 0;
	}

	100% {
		width: auto;
		opacity: 1;
	}
}

@keyframes close {
	0% {
		width: 150px;
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		width: 0;
		opacity: 0;
	}
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-head
	span {
	font-size:18px;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data.content-head {
	width: fit-content;
	display: flex;
	background: #ffffff;
	text-align: center;
	cursor: pointer;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.content-head
	h1 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0px;
}

.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.content-head
	p {
	font-size: 16px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.bottom-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: fit-content;
	flex-wrap: nowrap;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.bottom-content
	.content-img {
	width: 40%;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.bottom-content
	.content-img
	img {
	width: 100%;
}
.mindblown-ui
	.horizontal-accordion-one
	.accordion-container
	.accordion-item.active
	.accordion-data
	.bottom-content
	.bottom-dta {
	width: 60%;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.mindblown-panel-container {
	position: relative;
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	overflow: hidden;
	transition: height 0.5s ease;
	height: 50px;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}

.mindblown-panel-container.open {
	will-change: height;
	height: 600px;
}

.mindblown-panel-toggle {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-size: 24px;
	color: white;
	background: rgba(19, 19, 19, 0.8);
}

.mindblown-panel-content {
	overflow-y: auto;
	height: 100%;
	padding: 10px;
}

/* Accordion styling */
.mindblown-accordion {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 50px;
	height: fit-content;
}

.mindblown-accordion-item {
	margin-bottom: 10px;
}

.mindblown-accordion-head {
	background: #333;
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 8px;
}

.mindblown-accordion-body {
	height: auto;
	overflow: hidden;
	/* transition: height 0.3s ease; */
}

.mindblown-accordion-item.open .mindblown-accordion-head {
	background: #a52a2a;
}

/* Grid inside the accordion */
.mindblown-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	margin-top: 10px;
}

.mindblown-grid-item {
	background-size: cover;
	background-position: center;
	aspect-ratio: 1 / 1;
	border-radius: 8px;
	cursor: pointer;
	background-color: #b1b1b1;
}
